.masterkey_nav{
    background-color: white;
    filter: drop-shadow(7px 6px 4px rgba(0, 0, 0, 0.25));
    padding: 32px 0 40px 0;
}
.masterkey_navmanue{
    margin:0px 48px 0 29px;
    /* padding-top: 32px; */
}
.masterkey_logo{
margin-bottom: 72px;
}
.masterkey_list_item{
    margin-bottom: 45px;
}
.masterkey_list_item:last-child{
    padding-bottom: 45px;
}
.masterkey_list_item_img{
    margin-right: 33px;
}
.masterkey_frame{
    background-image: url('../../../images/menuFrame.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 16px;
    margin: 21px;
}
.masterkey_need_help_icon{
    margin-bottom: 11px;
    background-image: url('../../../images/menuRound.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.masterkey_customer_btn{
    background: #21D111;
box-shadow: 7px 6px 4px 2px rgba(0, 0, 0, 0.3);
border-radius: 10px;
padding: 11px 7px;
}
.masterkey_p{
    margin: 2px 0 2px 0;
}